<!doctype html>
<html>
<head>
  <title>FitNext | About</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <h1>About FitNext</h1>
  <p>This app lets users log workouts and search their workout history.</p>
  <p><a href="/">Home</a></p>

<hr>
<footer>
  <p>&copy; FitNext</p>
</footer>

</body>
</html>
